/nbproject/private/
/CLclass/build/
/build/
/Comment/build/
/Controls/build/
/COrnLathePrefs/build/
/DataNavigator/build/
/Drawables/build/
/CutList/build/
/CutListViewer/build/
/Patterns/build/
/PatternEditor/build/
/PatternBar/build/
/Profiles/build/
/Cutters/build/
/Outline/build/
/ProfileEditor/build/
/Rosette/build/
/RosetteViewer/build/
/Spirals/build/
/OutlineEditor/build/
/CutPoints/build/
/GCodeOutput/build/
/COrnFile/build/
/View3D/build/
/dist/
/CLclass/nbproject/private/
/Comment/nbproject/private/
/Controls/nbproject/private/
/COrnFile/nbproject/private/
/COrnLathePrefs/nbproject/private/
/CutList/nbproject/private/
/CutListViewer/nbproject/private/
/CutPoints/nbproject/private/
/Cutters/nbproject/private/
/DataNavigator/nbproject/private/
/Drawables/nbproject/private/
/GCodeOutput/nbproject/private/
/Outline/nbproject/private/
/OutlineEditor/nbproject/private/
/PatternBar/nbproject/private/
/PatternEditor/nbproject/private/
/Patterns/nbproject/private/
/ProfileEditor/nbproject/private/
/Profiles/nbproject/private/
/Rosette/nbproject/private/
/RosetteViewer/nbproject/private/
/Spirals/nbproject/private/
/View3D/nbproject/private/
/RosetteBuilder/build/
/RosetteBuilder/nbproject/private/